.cslfw-shipment-wrap {
    margin: 10px 0;
}
.cslfw-change-carrier-id {
    width: 100%;
    text-transform: uppercase;
}
.cslfw-status {
    background: #FEF08A;
    padding: 2px 9px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px !important;
}
.cslfw-status.status-3 {
    background: #BBF7D0;
}
.cslfw-status.status-8 {
    background: #FECACA;
}
.cslfw-status.status-4 {
    background: #FED7AA;
}
.text-center {
    text-align: center;
}
a.btn.btn-success.send-status {
    border: 1px solid green;
    padding: 0px 7px;
    font-size: 12px;
    background-color: green;
    color: white;
    border-radius: 4px;
    display: inline-block;
}
.btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}
.cargo-button label{
    display: block;
}
#cargo_custom_box .inside {
    margin-top: 20px;
}
.input-field label {
    margin-bottom: 5px;
}
.input-field input,
.input-field textarea {
    border: none;
    border-radius: 10px;
    min-height: 40px;
    background-color: #fff;
    border: 1px solid #257ab5;
}

#cargo_custom_box a.btn.btn-success.send-status {
    border: 1px solid green;
    font-size: 15px;
    color: white !important;
    text-decoration: none !important;
}

#cargo_custom_box .inside div {
    margin-bottom:  12px;
}
#cargo_custom_box .inside .cargo-button {
    margin-top: 12px;
}

.cargo-button .label-cargo-shipping {
    border: 1px solid #e1d111;
    /* border-radius: 18px; */
    font-size: 15px;
    border-radius: 4px;
    background-color: #e1d111;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

.no-need{
    display:none;
}
td.column-send_to_cargo a.submit-cargo-shipping{
    border: 1px solid #2e7ab3;
    padding: 6px 4px;
    font-size: 12px;
    background-color: #2e7ab3;
    color: white;
    line-break: anywhere;
    border-radius: 4px;
}
.send_to_cargo.column-send_to_cargo,.delivery_status.column-delivery_status,.send_to_cargo.column-send_to_cargo{
    text-align: center;
}

.cargo-button .submit-cargo-shipping{
    padding: 7px 15px;
    background-color: #2878b1;
    border: 1px solid #2878b1;
    border-radius: 4px;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}
#cargo_custom_box .inside .btn{
    background-color: #1bc39c;
    border: 1px solid #1bc39c;
    border-radius: 4px;
    color: white;
    display: inline-block;
}
.cargo-radio label {
    display: block;
    margin-bottom: 10px;
}
.label-cargo-shipping{
    border: 1px solid #e1d111;
    /* border-radius: 18px; */
    padding: 8px 20px;
    font-size: 10px;
    border-radius: 4px;
    background-color: #e1d111;
    color: white;
}
.loader-admin{
    display: none;
    position: fixed;
    top: 50%;
    left: 40%;
    z-index: 9999;
}
